
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ income_tamplate.as_p }}
    {{ income_product.as_p }}
    {{ product.as_p }}
    {{ category.as_p }}
    <input type="submit" value="Issaugoti">
</form>

</body>
</html>