<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ order.as_p }}
    {{ order_line.as_p }}
    {{ customer.as_p }}

    <input type="submit" value="Issaugoti">
</form>
</body>
</html>